// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.teacher {
    &-section {
        max-width: 990px;
        margin-left: auto;
        margin-right: auto;
        &--table {
            overflow: hidden;
            overflow-x: auto;
            padding-bottom: 10px;
            margin-bottom: 20px;
            .table {
                padding: 0;
                margin: 0;
                th {
                    text-align: center;
                    white-space: nowrap;
                }
                td {
                    white-space: nowrap;
                    text-align: center;
                    font-size: 16px;
                    color: #3e3e3e;
                    vertical-align: middle;
                    img {
                        max-width: 100px;
                        height: auto;
                    }
                    i {
                        font-size: 20px;
                        color: $primaryColor;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// Responsive

@include breakpoint-max(767px) {
    .teacher {
        &-section {
            &--table {
                .table {
                    th {
                        font-size: 14px;
                    }
                    td {
                        font-size: 14px;
                        img {
                            max-width: 80px;
                        }
                        i {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
