@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.education__section {
  &:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
    margin: 15px 0px;
    padding-bottom: 15px;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h6 {
      font-size: 19px;
      //   font-weight: 500;
      color: black;
    }
    i {
      font-size: 19px;
      color: #a7a7a7;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
  .sub-title {
    font-size: 14px;
    color: $gray;
  }
}
