// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.attachmentName {
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #f5f5f5;
        color: $grayColor;
    }
}
.home-img {
    width: 9.5rem;
    height: 5.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
.authors {
    padding: 0.25rem;
    margin: 0rem 0.25rem;
    &:hover {
        text-decoration: underline;
    }
}

a {
    color: #0c0c0c;
    &:hover {
        color: $secondaryColor;
    }
}

.vote {
    font-size: 3rem;
    color: #cdcdcd;
    text-align: center;
    i {
        cursor: pointer;
    }
    .upActive {
        color: #4caf50;
    }
    .downActive {
        color: #ed2939;
    }
}
.profile-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
