// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primaryColor: #0c0c0c;
$secondaryColor: #474554;
$grayColor: #3a3a3a;
$borderColor: #e3e3e3;
$gray: #3d3b3b;
$bgWhite: #ffffff;
$titleRed: #34c5d9;
$btnHover: #5a606d;
$random: #444253;
