body {
    font-family: 'Styrenea web', sans-serif;
    color: rgb(39, 51, 38);
    color: rgb(167, 167, 167);
    color: #fed3ad;
    color: rgb(68, 113, 74);

    font-size: 15px;
    line-height: 24px;
}
