body {
    font-family: 'Styrenea web', sans-serif;
    color: rgb(39, 51, 38);
    color: #a7a7a7;
    color: #fed3ad;
    color: rgb(68, 113, 74);

    color: #1c2230;

    color: #3a4660;

    color: #c9af98;
    color: #af9177;


    color: #ed8a63;

    color: #845007;

    font-size: 15px;
    line-height: 24px;
}