// Add variables here
@use "./mixins" as *;

:root {
    --nav-height: 60px;

    @include breakpoint-max(767px) {
        --nav-height: 60px;
    }
}

$titleRed: #bc5d5d;
$inverseColor: #ffffff;
$colorWhite: #ffffff;

// $primaryColor: #474554;
// $headerBg: #5c596d;
// $secondaryColor: #34c5d9;
// $btnHover: #19b4c9;
// $linkActive: #7da2a9;

// $primaryColor: #3a3a3a;
// $headerBg: #3a3a3a;
// $secondaryColor: #f2aa4cff;
// $btnHover: rgb(236, 145, 26);

// $primaryColor: #3a3a3a;
// $headerBg: #494949;
// $secondaryColor: #c3d136;
// $btnHover: #b8c717;

$primaryColor: #7da2a9;
$headerBg: #a3babe;
$secondaryColor: #7da2a9;
$btnHover: #6aa5b1;
$linkActive: #000000;
$linkHover: #000000;
$linkColor: #ffffff;
$link: #58a6ff;
$grayColor: #3a3a3a;
$borderColor: #e4e6eb;
$gray: #3d3b3b;
$bgWhite: #ffffff;
$info: #76cbd6;
// $btnHover: #5a606d;
$random: #444253;
$hover: #cdcdcd;
$upVote: #4caf50;
$downVote: #ed2939;
$secondary-icon: #b0b3b8;
// $secondary-text: #b0b3b8;
// $secondary-icon: #65676b;
// $secondary-text: #65676b;
$wash: #e4e6eb;
$web-wash: #f0f2f5;
$notification-badge: #e41e3f;
// $primary-icon: #050505;
$primary-text: #050505;
$accent: #1876f2;
$primary-icon: #e4e6eb;
// --primary-text: #E4E6EB;
$secondary-text: #65676b;
