// Add variables here
@use "./mixins" as *;

:root {
    --nav-height: 80px;

    @include breakpoint-max(767px) {
        --nav-height: 55px;
    }
}

// $titleRed: #bc5d5d;
$inverseColor: #ffffff;
$colorWhite: #ffffff;
// $primaryColor: #474554;
// $headerBg: #5c596d;
// $secondaryColor: #34c5d9;
// $btnHover: #19b4c9;
$primaryColor: #3a3a3a;
$headerBg: #3a3a3a;
$secondaryColor: #f2aa4cff;
$btnHover: rgb(236, 145, 26);

// $primaryColor: #3a3a3a;
// $headerBg: #494949;
// $secondaryColor: #c3d136;
// $btnHover: #b8c717;

$grayColor: #3a3a3a;
$borderColor: #e3e3e3;
$gray: #3d3b3b;
$bgWhite: #ffffff;
$info: #76cbd6;
// $btnHover: #5a606d;
$random: #444253;
$hover: #cdcdcd;
