// Add variables here
@use "../abstracts/variables" as *;

// Add Colors here
body {
    background-color: #f4f4f4;
}

h1 {
    color: #ffffff;
}
h2,
h3,
h4,
h5,
h6 {
    color: #0c0c0c;
}

a {
    color: #0c0c0c;
    &:hover {
        color: $secondaryColor;
    }
}
