// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Add styles here
.footer {
    &-info {
        padding-top: 45px;
        padding-bottom: 20px;
        border-bottom: 1px solid #6a6a6a;

        &__item {
            margin-bottom: 25px;
            h3 {
                color: $inverseColor;
                font-size: 1.5em;
                font-weight: 500;
                margin-bottom: 20px;
            }
            p {
                color: #cdcdcd;
                margin-bottom: 15px;
            }
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                }
            }

            &--icon {
                li {
                    display: inline-block;
                    &:not(:last-child) {
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                    &:hover {
                        color: #fff;
                    }
                    a {
                        i {
                            color: $secondaryColor;
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        &__content {
            .row {
                justify-content: space-between;
                & > * {
                    width: auto;
                }
            }
        }
    }
    &-copyright {
        padding-top: 25px;
        padding-bottom: 25px;
        p {
            font-size: 16px;
            color: #cdcdcd;
            text-align: center;
        }
    }
}

// RESPONSIVE STARTS

@include breakpoint-max(991px) {
    .footer {
        &-info {
            &__item {
                ul {
                    li:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@include breakpoint-max(767px) {
    .footer {
        &-info {
            padding-top: 30px;
            padding-bottom: 5px;
            // padding-left: 10px;
            // padding-right: 10px;
            &__item {
                h3 {
                    font-size: 1.125em;
                    margin-bottom: 10px;
                }
                p {
                    font-size: 0.875em;
                    margin-bottom: 10px;
                }
                &--icon {
                    font-size: 12px;
                    i {
                        &:not(:last-child) {
                            margin-right: 6px;
                        }
                    }
                }
            }
            // &__content {
            //     padding-top: 10px;
            //     padding-left: 0;
            //     padding-right: 0;
            //     .footer-info__item {
            //         ul {
            //             li {
            //                 font-size: 1em;
            //                 &:not(:last-child) {
            //                     margin-bottom: 5px;
            //                 }
            //             }
            //         }
            //     }
            // }
        }
        &-copyright {
            padding-top: 15px;
            padding-bottom: 15px;
            p {
                font-size: 0.9em;
            }
        }
    }
}
@include breakpoint-max(575px) {
    .footer {
        &-info {
            &__item {
                h3 {
                    margin-bottom: 8px;
                }
                p {
                    font-size: 0.75em;
                    margin-bottom: 8px;
                }
            }
            &__content {
                .footer-info__item {
                    width: 100%;
                    li {
                        font-size: 0.9em;
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        &-copyright {
            padding-top: 15px;
            padding-bottom: 15px;
            p {
                font-size: 0.8em;
            }
        }
    }
}
@include breakpoint-max(480px) {
    .footer {
        &-info {
            &__content {
                .footer-info__item {
                    width: 100%;
                }
            }
        }
    }
}
// // Add styles here
// .footer__section {
//     background-color: #474554;
//     &--main {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         border-bottom: 1px solid;
//     }
//     &--content {
//         padding: 20px 0;
//         margin: 20px 0;
//         &--head {
//             color: #ffffff;
//             font-size: 17px;
//             font-weight: 700;
//             padding-bottom: 10px;
//         }
//         &--para {
//             color: #cdcdcd;
//             font-size: 16px;
//             font-weight: 400;
//             &:not(:last-child) {
//                 margin-bottom: 10px;
//             }
//         }
//         &--icon a {
//             color: #34c5d9;
//             font-size: 16px;
//             &:hover {
//                 color: #fff;
//             }
//             &:not(:last-child) {
//                 margin-right: 10px;
//             }
//         }
//     }

//     &-copyright {
//         padding-top: 25px;
//         padding-bottom: 25px;
//         p {
//             font-size: 16px;
//             color: #cdcdcd;
//             text-align: center;
//         }
//     }
// }

// // RESPONSIVE STARTS

// @include breakpoint-max(991px) {
//     .footer__section {
//         &--content {
//             h3 {
//                 font-size: 1.3em;
//             }
//         }
//         &--main {
//             padding-left: 10%;
//         }
//     }
// }
// @include breakpoint-max(767px) {
//     .footer__section {
//         &-copyright {
//             padding-top: 15px;
//             padding-bottom: 15px;
//             p {
//                 font-size: 0.875em;
//             }
//         }
//     }
// }
// @include breakpoint-max(575px) {
//     .footer__section {
//         &-copyright {
//             padding-top: 15px;
//             padding-bottom: 15px;
//             p {
//                 font-size: 0.75em;
//             }
//         }
//     }
// }
