// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Overrides Bootstrap

.nav-link {
    padding: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
/*.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  color: #e3e3e3;
}*/
.navbar-brand img {
    vertical-align: baseline !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

.lurc1 {
    background: #fbf7ff;
    padding: 5px;
    color: #3e3f3a;
}
.lurc2 {
    font-weight: 500px;
    padding: 5px;
    color: #98978b;
}
.lurc2:hover {
    color: #fbf7ff;
}
.router-link-exact-active:not(.lurc) {
    color: $secondaryColor !important;
    border-bottom: 1px solid;
}
.navbar.navbar-expand-lg .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.5px;
    border-radius: 1px;
    background-color: $secondaryColor;
    transition: width 0.2s ease-in-out;
}

// .navbar.navbar-expand-lg .nav-item:hover .nav-link:after {
//     width: 100%;
// }

// Style Nav
.navbar {
    height: var(--nav-height);
    &.navbar-expand-lg {
        background-color: $primaryColor;
        padding-top: 15px;
        padding-bottom: 15px;

        .nav {
            &-item {
                margin-left: 10px;
                margin-right: 10px;
                &.dropdown {
                    position: relative;
                    .dropdown-menu {
                        display: block;
                        position: absolute;
                        top: 100%;
                        right: -50%;
                        transform: translateY(10px);
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                        transition: all 0.3s ease;
                        .dropdown-item {
                            &:hover {
                                color: $secondaryColor;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }
                // &:hover {
                //     &.nav-link {
                //         &:after {
                //             width: 100%;
                //         }
                //     }
                // }
            }
            &-link {
                position: relative;
                padding-bottom: 4px;
                transition: color 0.3s linear;
                font-weight: 500;
                color: $colorWhite;
                &.active {
                    color: $secondaryColor !important;
                    border-bottom: 1px solid;
                }
                // &:after {
                //     content: "";
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     width: 0;
                //     height: 1px;
                //     border-radius: 1px;
                //     background-color: $secondaryColor;
                //     transition: width 0.2s ease-in-out;
                // }
                &.dropdown-toggle {
                    padding-right: 16px;
                    &:after {
                        margin-left: 0;
                        border: 0;
                    }
                    &:before {
                        content: "\ea5e";
                        font-family: "LineIcons";
                        position: absolute;
                        right: 0;
                        font-size: 12px;
                        top: 4px;
                    }
                }
            }
        }
        .navbar-item {
            .navbar-nav {
                .nav-item {
                    a {
                        &:hover {
                            color: $secondaryColor;
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        img {
            max-width: 60px;
            max-height: 60px;
        }
    }
    &-item {
        flex: 0 0 auto;
        &__action {
            li {
                position: relative;
                display: inline-block;
                font-size: 20px;
                cursor: pointer;
                color: $colorWhite;
                transition: color 0.3s linear;

                &:hover {
                    color: $secondaryColor;
                }
                &:not(:last-child) {
                    margin-right: 15px;
                }
                // &:not(:last-child) {
                //     margin-right: 15px;
                //     border: 1px solid;
                //     border-radius: 50%;
                // }
                i {
                    padding: 5px;
                }
                &.dropdown {
                    position: relative;
                    .dropdown-menu {
                        display: block;
                        position: absolute;
                        top: 100%;
                        right: -50%;
                        transform: translateY(10px);
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                        transition: all 0.3s ease;
                        .dropdown-item {
                            &:hover {
                                color: $secondaryColor;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }
            }
        }
        &__right {
            li {
                position: relative;
                display: inline-block;
                cursor: pointer;
                color: $colorWhite;
                transition: color 0.3s linear;

                &:hover {
                    color: $secondaryColor;
                }
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
    &-action {
        &__badge {
            position: absolute;
            top: -4px;
            right: -4px;
            background-color: $secondaryColor;
            font-size: 0.5em;
            font-weight: 500;
            padding: 1px 6px;
            color: #ffffff;
            border-radius: 50%;
        }
    }
    &-nav {
        .dropdown-menu {
            position: static;
            border: 0;
            background-color: #ffffff;
            li {
                a:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--nav-height);
        background-color: rgb(71, 69, 84, 0.8);
        // padding-left: 90px;
        transform: translateX(20%);
        position: fixed;
        z-index: 111111;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s linear, transform 0.3s ease-in-out;
        &.active {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
        &-input {
            width: 500px;
            display: flex;
            justify-content: center;
            input {
                flex: 1;
                border: 1px solid gray;
                padding: 20px;
                border-radius: 6px;
                height: 40px;
            }
            button {
                font-size: 20px;
                top: 50%;
                transform: translate(-40px, -2px);
            }
        }
        &-cancel {
            width: 20px;
            i {
                color: #ffffff;
            }
        }
        &-result {
            width: 480px;
            transform: translate(-20px, 20px);
            position: absolute;
            color: #e3e3e3;
        }
    }
    &-notification {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);
        max-width: 370px;
        width: 100%;
        height: 100%;
        margin-left: auto;
        background-color: #ffffff;
        transition: transform 0.3s ease-in-out;

        &--wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 111;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s linear;
            &.active {
                opacity: 1;
                pointer-events: all;
                .navbar-notification {
                    transform: translateX(0);
                }
            }
        }
        &--head {
            display: flex;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 20px;
            button {
                font-size: 1.6em;
                color: #e3e3e3;
                line-height: 1;
                margin-left: 10px;
                i {
                    img {
                        width: 20px;
                    }
                }
            }
        }
        &--body {
            font-size: 20px;
            color: $primaryColor;
            i {
                font-size: 30px;
                color: $secondaryColor;
            }
            .nav-item {
                &:not(:last-child) {
                    border-bottom: 1px solid #e3e3e3;
                }
                a {
                    font-size: 14px;
                    color: $primaryColor;
                    padding: 1em 1.25em;
                    position: relative;
                    &:after {
                        position: absolute;
                        margin-left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                    }
                    &.active {
                        color: $secondaryColor;
                        border-right: 4px solid $secondaryColor;
                    }
                    &:hover {
                        color: $secondaryColor;
                        background-color: #f4f4f4;
                        border-left: 4px solid $secondaryColor;
                    }
                }
                &.dropdown {
                    li {
                        border-top: 1px solid #e3e3e3;
                        padding: 0 0.7em;
                    }
                    .dropdown-toggle::after {
                        border-top: 0;
                        font-size: 12px;
                        font-weight: 900;
                        content: "\ea5e";
                        font-family: "LineIcons";
                    }
                }
            }
        }
    }

    &-mobile {
        max-width: 370px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;

        &--wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 111;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s linear;
            &.active {
                opacity: 1;
                pointer-events: all;
                .navbar-mobile {
                    transform: translateX(0);
                }
            }
        }
        &--head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 20px;
            img {
                max-width: 50px;
                width: 100%;
            }
            button {
                font-size: 1.6em;
                color: #e3e3e3;
                line-height: 1;
                margin-left: 10px;
                i {
                    img {
                        width: 20px;
                    }
                }
            }
        }
        &--body {
            margin-bottom: 15px;
            .nav-item {
                &:not(:last-child) {
                    border-bottom: 1px solid #e3e3e3;
                }
                a {
                    font-size: 14px;
                    color: $primaryColor;
                    padding: 1em 1.25em;
                    position: relative;
                    &:after {
                        position: absolute;
                        margin-left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                    }
                    &.active {
                        color: $secondaryColor;
                        border-right: 4px solid $secondaryColor;
                    }
                    &:hover {
                        color: $secondaryColor;
                        background-color: #f4f4f4;
                        border-right: 4px solid $secondaryColor;
                    }
                }
                &.dropdown {
                    li {
                        border-top: 1px solid #e3e3e3;
                        padding: 0 0.7em;
                    }
                    .dropdown-toggle::after {
                        border-top: 0;
                        font-size: 12px;
                        font-weight: 900;
                        content: "\ea5e";
                        font-family: "LineIcons";
                    }
                }
            }
        }
        &--info {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            &-item {
                color: #000000;
                padding: 0.7em 0.5em;
                &:not(:last-child) {
                    border-bottom: 1px solid #ffffff;
                }
            }
        }
    }

    // &-mobile {
    //     max-width: 370px;
    //     width: 100%;
    //     height: 100%;
    //     padding: 20px;
    //     background-color: #ffffff;
    //     transform: translateX(-100%);
    //     transition: transform 0.3s ease-in-out;

    //     &--wrapper {
    //         position: fixed;
    //         width: 100%;
    //         height: 100%;
    //         background-color: rgba(0, 0, 0, 0.5);
    //         z-index: 111;
    //         left: 0;
    //         top: 0;
    //         opacity: 0;
    //         pointer-events: none;
    //         transition: opacity 0.3s linear;
    //         &.active {
    //             opacity: 1;
    //             pointer-events: all;
    //             .navbar-mobile {
    //                 transform: translateX(0);
    //             }
    //         }
    //     }
    //     &--head {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         img {
    //             max-width: 200px;
    //             width: 100%;
    //             margin-bottom: 30px;
    //         }
    //         button {
    //             font-weight: 700;
    //             font-size: 1.2em;
    //             color: #010101;
    //             top: 50%;
    //             transform: translateY(-8px);
    //             margin-left: 10px;
    //         }
    //     }
    //     &--body {
    //         margin-bottom: 15px;
    //         .nav-item {
    //             &:not(:last-child) {
    //                 border-bottom: 1px solid #e3e3e3;
    //             }
    //             a {
    //                 font-size: 14px;
    //                 color: $primaryColor;
    //                 padding: 0.7em 0.5em;
    //                 position: relative;
    //                 &:after {
    //                     position: absolute;
    //                     margin-left: 0;
    //                     top: 50%;
    //                     right: 0;
    //                     transform: translateY(-50%);
    //                     transition: transform 0.3s ease;
    //                 }
    //                 &.active {
    //                     color: $secondaryColor;
    //                 }
    //                 &:hover {
    //                     color: $secondaryColor;
    //                 }
    //             }
    //             &.dropdown {
    //                 li {
    //                     border-top: 1px solid #e3e3e3;
    //                     padding: 0 0.7em;
    //                 }
    //                 .dropdown-toggle::after {
    //                     border-top: 0;
    //                     font-size: 12px;
    //                     font-weight: 900;
    //                     content: "\ea5e";
    //                     font-family: "LineIcons";
    //                 }
    //             }
    //         }
    //     }
    //     &--info {
    //         margin: 0;
    //         font-size: 14px;
    //         font-weight: 500;
    //         &-item {
    //             color: #000000;
    //             padding: 0.7em 0.5em;
    //             &:not(:last-child) {
    //                 border-bottom: 1px solid #ffffff;
    //             }
    //         }
    //     }
    // }
}
.nav-close__button.close {
    width: 0;
    height: 0;
}
.navbar.navbar-expand {
    background-color: $headerBg;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-expand .navbar-nav .nav-link {
    color: #e3e3e3;
}
.navbar.navbar-expand .nav-item:hover .nav-link:after {
    width: 100%;
}
.navbar.navbar-expand .nav-link {
    position: relative;
    transition: color 0.3s linear;
    font-weight: 500;
}
.navbar.navbar-expand .nav-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.5px;
    border-radius: 2px;
    background-color: $secondaryColor;
    transition: width 0.2s ease-in-out;
}
.navbar.navbar-expand .nav-link.active {
    color: $secondaryColor;
}
.navbar.navbar-expand .nav-link.active:after {
    width: 100%;
}
// Responsive
@include breakpoint-max(1199px) {
    .navbar.navbar-expand-lg .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@include breakpoint-max(767px) {
    .navbar {
        &.navbar-expand-lg {
            padding-top: 10px;
            padding-bottom: 10px;
            .header-content {
                .navbar-itemLogo {
                    .navbar-brand {
                        img {
                            max-width: 35px;
                        }
                    }
                }
            }
        }
        &-item {
            &__action {
                li {
                    font-size: 18px;
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
        &-action {
            &__badge {
                top: -3px;
                right: -3px;
                font-size: 0.6em;
                padding: 1px 5px;
            }
        }
        &-search {
            height: 55px;
            background-color: $primaryColor;
            &-input {
                width: 300px;
                input {
                    padding: 18px 15px;
                    height: 25px;
                }
                button {
                    font-size: 18px;
                    transform: translate(-30px, -1px);
                }
            }
            &-result {
                width: 280px;
            }
            &-cancel {
                width: 18px;
            }
        }
        &-notification {
            max-width: 270px;
        }
    }
}
@include breakpoint-max(575px) {
    .navbar {
        &-brand img {
            vertical-align: 0px;
        }
        &.navbar-expand-lg {
            .header-content {
                .navbar-itemLogo {
                    .navbar-brand {
                        img {
                            max-width: 20px;
                        }
                    }
                }
                .navbar-item {
                    &__action {
                        li {
                            font-size: 15px;
                            i {
                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                    &__badge {
                        top: -2px;
                        right: -2px;
                        padding: 1px 4px;
                    }
                }
            }
        }
        &-item {
            &__action {
                li:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
        &-action__badge {
            top: -8px;
            right: -8px;
            padding: 1px 5px;
        }
        &-notification {
            &--head {
                h4 {
                    font-size: 18px;
                }
                button {
                    width: 18px;
                }
            }
            &--body {
                p {
                    font-size: 15px;
                }
                i {
                    font-size: 25px;
                }
            }
        }
    }
}
@include breakpoint-max(400px) {
    .navbar {
        &-search {
            &-input {
                width: auto;
                input {
                    padding: 18px 15px;
                }
            }
            &-cancel {
                transform: translateY(42px, 7px);
            }
        }
    }
}
