// Add variables here
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Overrides Bootstrap
// .main {
//   margin-top: 60px;
// }
.nav-link {
    padding: 0;
}
.nav-close__button.close {
    width: 0;
    height: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
/*.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
  color: #e3e3e3;
}*/
.navbar-brand img {
    vertical-align: baseline !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

.lurc1 {
    background: #fbf7ff;
    padding: 5px;
}
.lurc2 {
    font-weight: 500px;
    padding: 5px;
}
.lurc2:hover {
    color: #fbf7ff;
}
.router-link-exact-active:not(.lurc) {
    color: $linkActive !important;
    // border-bottom: 1px solid;
}

// Style Nav
.navbar {
    height: var(--nav-height);
    &.navbar-expand-lg {
        background-color: $primaryColor;
        // padding-top: 15px;
        // padding-bottom: 15px;
        margin: 0;
        padding: 0;
        // position: fixed;
        // width: 100%;
        // top: 0;
        .nav {
            &-item {
                margin-left: 10px;
                margin-right: 10px;
                &.dropdown {
                    position: relative;
                    .dropdown-menu {
                        display: block;
                        position: absolute;
                        top: 100%;
                        right: -10%;
                        transform: translateY(10px);
                        opacity: 0;
                        visibility: hidden;
                        pointer-events: none;
                        transition: all 0.3s ease;
                        background-color: $secondaryColor;
                        .dropdown-item {
                            color: $linkColor;
                            &:hover {
                                color: $hover;
                            }
                        }
                    }
                    &:hover {
                        .dropdown-menu {
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                            pointer-events: all;
                        }
                    }
                }
                // &:hover {
                //     &.nav-link {
                //         &:after {
                //             width: 100%;
                //         }
                //     }
                // }
            }
            &-link {
                position: relative;
                padding-bottom: 4px;
                transition: color 0.3s linear;
                font-weight: 500;
                color: $linkColor;
                &.active {
                    color: $linkActive !important;
                    border-bottom: 1px solid;
                }

                &.dropdown-toggle {
                    padding-right: 16px;
                    &:after {
                        margin-left: 0;
                        border: 0;
                    }
                    &:before {
                        content: "\ea5e";
                        font-family: "LineIcons";
                        position: absolute;
                        right: 0;
                        font-size: 12px;
                        top: 4px;
                    }
                }
            }
        }
        .navbar-item {
            .navbar-nav {
                .nav-item {
                    a {
                        &:hover {
                            color: #cdcdcd;
                            &:after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        img {
            max-width: 110px;
            //max-height: 60px;
        }
    }
    &-item {
        flex: 0 0 auto;
        &__action {
            li {
                position: relative;
                display: inline-block;
                cursor: pointer;
                color: $linkColor;
                transition: color 0.3s linear;
                span {
                    color: $linkColor !important;
                }
                a {
                    color: $linkColor !important;
                }
                &:hover:not(.profile):not(.dropdown li) {
                    // color: $hover;
                    background-color: $headerBg;
                }
                .nav-link {
                    &:hover {
                        color: $hover;
                    }
                }
                &:not(.dropdown li) {
                    padding: 7px;
                    border-radius: 50%;
                }
                img {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                }
            }
            .dropdown {
                position: relative;
                .dropdown-menu {
                    display: block;
                    position: absolute;
                    top: 100%;
                    right: -10%;
                    transform: translateY(10px);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: all 0.3s ease;
                    background-color: $secondaryColor;
                    // overflow: hidden;
                    // padding-right: 0;
                    border: none;
                    h1 {
                        font-size: 25px;
                        color: #fff;
                        margin: 0 1rem;
                    }
                    .dropdown-item {
                        color: $linkColor;

                        &:hover {
                            color: $hover;
                        }
                    }
                    .box {
                        overflow-y: scroll;
                        overflow-x: hidden;
                        max-height: 80%;
                        // &::-webkit-scrollbar {
                        //   visibility: hidden !important;
                        // }
                        // &:hover {
                        //   &::-webkit-scrollbar {
                        //     // visibility: visible;
                        //   }
                        // }
                    }
                    .connection {
                        &-item {
                            display: flex;
                            margin: 0.2rem 0.5rem;
                            padding: 0.5rem;
                            min-width: 260px;
                            align-items: center;
                            img {
                                max-width: 40px;
                                max-height: 40px;
                                margin-right: 0.75rem;
                                border-radius: 50%;
                            }
                            &:not(:last-child) {
                                border-bottom: 1px solid #e3e3e3;
                            }

                            h4 {
                                font-size: 16px;
                                color: #fff;
                            }
                            p {
                                font-size: 13px;
                                color: #f4f4f4;
                            }
                            a {
                                font-size: 13px;
                                color: #000;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                            &:hover {
                                background-color: $headerBg;
                                border-radius: 5px;
                            }
                            &.active {
                                background-color: $headerBg;
                                border-radius: 5px;
                            }
                        }
                        &-action {
                            position: absolute;
                            top: 35px;
                            right: 220px;
                            font-weight: 500;
                            color: #ffffff;
                            border-radius: 50%;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            height: 20px;
                            width: 20px;
                            &__like {
                                background-color: $secondaryColor;
                                font-size: 0.75em;
                            }
                            &__upVote {
                                background-color: $upVote;
                                font-size: 0.95em;
                            }
                            &__downVote {
                                background-color: $downVote;
                                font-size: 0.95em;
                            }
                        }
                    }
                    .skeleton {
                        display: flex;
                        align-items: center;
                        margin: 0 0.5rem;
                        padding: 0.5rem;
                        img {
                            overflow: hidden;
                            background: #a7a7a7;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            margin-right: 0.75rem;
                        }
                        p {
                            width: 80%;
                            height: 18px;
                            background-color: #a7a7a7;
                            text-align: center;
                            border-radius: 16px;
                            line-height: 25px;
                        }
                    }
                    button {
                        padding: 0.25rem;
                        border-radius: 20px;
                        font-size: 0.8em;
                        font-weight: 500;
                        min-width: 90px;
                        background-color: transparent;
                        color: #cdcdcd;
                        margin: 0.5rem 0;
                        transition: 0.3s linear;
                        &:first-child {
                            margin-left: 1rem;
                        }
                        &:hover {
                            &:not(.btnActive) {
                                background-color: $headerBg;
                                color: #fff;
                            }
                            i {
                                color: #fff;
                            }
                        }
                        i {
                            color: $secondaryColor;
                        }
                    }
                    .btnActive {
                        background-color: $headerBg;
                        border: 1px solid;

                        color: #fff;
                        i {
                            color: #fff;
                        }
                    }
                }
                #box {
                    width: 280px;
                }
                &:hover:not(#connection) {
                    .dropdown-menu {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                }
                .connectionMenuActive {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                    // i {
                    //   transform: translateY(0);
                    //   opacity: 1;
                    //   visibility: visible;
                    //   pointer-events: all;
                    // }
                }
            }
            &__badge {
                position: absolute;
                top: -2px;
                right: -2px;
                background-color: $notification-badge;
                font-size: 0.75rem;
                font-weight: 500;
                padding: 1px 6px;
                color: #ffffff;
                border-radius: 50%;
                min-width: 19px;
                height: 19px;
            }
            // .connection {
            //   position: relative;
            //   i {
            //     display: block;
            //     position: absolute;
            //     top: 124%;
            //     right: 20%;
            //     transform: translateY(10px);
            //     opacity: 0;
            //     visibility: hidden;
            //     pointer-events: none;
            //     transition: all 0.3s ease;
            //     color: $secondaryColor;
            //     font-size: 25px;
            //   }
            //   .connection-menu {
            //     display: block;
            //     position: absolute;
            //     top: 166%;
            //     right: -55%;
            //     transform: translateY(10px);
            //     opacity: 0;
            //     visibility: hidden;
            //     pointer-events: none;
            //     transition: all 0.3s ease;
            //     background-color: $secondaryColor;
            //     // box-shadow:  0px 0px 3px #cdcdcd;
            //     border-radius: 5px;
            //     .connection-item {
            //       display: flex;
            //       margin: 0.5rem;
            //       padding: 0.5rem;
            //       min-width: 250px;
            //       img {
            //         max-width: 40px;
            //         margin-right: 0.75rem;
            //         border-radius: 50%;
            //       }
            //       &:not(:last-child) {
            //         border-bottom: 1px solid #e3e3e3;
            //       }

            //       h4 {
            //         font-size: 16px;
            //         color: #fff;
            //       }
            //       p {
            //         font-size: 13px;
            //         color: #f4f4f4;
            //       }
            //       &:hover {
            //         background-color: $headerBg;
            //         border-radius: 5px;
            //       }
            //     }
            //   }
            //   .connectionMenuActive {
            //     transform: translateY(0);
            //     opacity: 1;
            //     visibility: visible;
            //     pointer-events: all;
            //     i {
            //       transform: translateY(0);
            //       opacity: 1;
            //       visibility: visible;
            //       pointer-events: all;
            //     }
            //   }
            // }
        }
    }
    &-body {
        padding-left: 20px;
    }
    &-nav {
        .dropdown-menu {
            position: static;
            border: 0;
            li {
                a:hover {
                    color: $linkHover;
                }
            }
        }
    }

    &-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: var(--nav-height);
        background-color: $primaryColor;
        // padding-left: 90px;
        transform: translateX(20%);
        position: fixed;
        z-index: 111111;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s linear, transform 0.3s ease-in-out;
        &.active {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
        &-input {
            width: 500px;
            display: flex;
            justify-content: center;
            input {
                flex: 1;
                border: 1px solid $bgWhite;
                padding: 20px;
                border-radius: 6px;
                height: 40px;
            }
            button {
                top: 50%;
                transform: translate(-40px, 0px);
            }
        }
        &-cancel {
            width: 20px;
            i {
                color: #ffffff;
            }
        }
        &-result {
            width: 480px;
            transform: translate(-20px, 20px);
            position: absolute;
            color: #000;
            li {
                display: flex;
                padding: 1rem;
                img {
                    max-width: 40px;
                    margin-right: 0.75rem;
                    border-radius: 50%;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #e3e3e3;
                }
                &:hover {
                    background-color: $secondaryColor;
                    h4 {
                        color: #fff;
                    }
                    p {
                        color: #fff;
                    }
                }
                h4 {
                    font-size: 16px;
                    color: #000;
                }
                p {
                    font-size: 13px;
                    color: $gray;
                }
            }
            .search-list {
                position: absolute;
                font-size: 1rem;
                border: 1px solid #cdcdcd;
                background-color: #f4f4f4;
                border-radius: 4px;
            }
        }
    }
    &-notification {
        right: 0;
        top: 0;
        transform: translateX(100%);
        max-width: 390px;
        width: 100%;
        height: 100%;
        margin-left: auto;
        background-color: #ffffff;
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;
        &--wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 111;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s linear;
            &.active {
                opacity: 1;
                pointer-events: all;
                .navbar-notification {
                    transform: translateX(0);
                }
            }
        }
        &--head {
            display: flex;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 17px 20px;
            h5 {
                color: #ffffff;
            }
            button {
                font-size: 1em;
                color: #e3e3e3;
                line-height: 1;
                margin-left: 10px;
                i {
                    img {
                        width: 20px;
                    }
                }
            }
        }
        &--body {
            font-size: 20px;
            color: $primaryColor;
            .nav {
                &-item {
                    li {
                        display: flex;
                        align-items: center;
                    }
                    // .notify {
                    //   border-top: 1px solid #e3e3e3;
                    //   padding: 0 0.7em;
                    // }
                }
                &-link {
                    font-size: 16px;
                    color: $grayColor;
                    padding: 1em 1.25em;
                    position: relative;
                    border-bottom: 1px solid #e3e3e3;
                    a {
                        font-weight: bold;
                        color: #000;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    img {
                        width: 55px;
                        height: 55px;
                        border-radius: 50%;
                        margin-right: 1.75rem;
                    }

                    &:after {
                        position: absolute;
                        margin-left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                    }
                    &.active {
                        background-color: #f4f4f4;
                        font-weight: bold;
                        border-right: 4px solid $secondaryColor;
                    }
                    &:hover {
                        &:not(.skeleton) {
                            background-color: #f4f4f4;
                            // border-right: 4px solid $secondaryColor;
                        }
                    }
                }
                &-action {
                    position: absolute;
                    top: 50px;
                    right: 303px;
                    font-weight: 500;
                    color: #ffffff;
                    border-radius: 50%;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    height: 25px;
                    width: 25px;
                    &__like {
                        background-color: $secondaryColor;
                        font-size: 0.75em;
                    }
                    &__upVote {
                        background-color: $upVote;
                        font-size: 0.95em;
                    }
                    &__downVote {
                        background-color: $downVote;
                        font-size: 0.95em;
                    }
                }
            }
            button {
                padding: 0.25rem;
                border-radius: 20px;
                border: 1px solid;
                font-size: 0.8em;
                font-weight: 500;
                min-width: 90px;
                border: 1px solid $btnHover;
                background-color: transparent;
                color: $secondaryColor;
                margin: 0.25rem 0;
                transition: 0.3s linear;
                &:first-child {
                    margin-left: 0.25rem;
                }
                &:hover {
                    &:not(.btnActive) {
                        background-color: $btnHover;
                        color: #fff;
                    }
                    i {
                        color: #fff;
                    }
                }
                i {
                    color: $secondaryColor;
                }
            }
            .btnActive {
                background-color: $secondaryColor;
                color: #fff;
                i {
                    color: #fff;
                }
            }
            .skeleton {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e3e3e3;
                img {
                    overflow: hidden;
                    background: #a7a7a7;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    margin-right: 0.75rem;
                }
                p {
                    width: 80%;
                    height: 18px;
                    background-color: #a7a7a7;
                    text-align: center;
                    border-radius: 16px;
                    line-height: 25px;
                }
            }
        }
    }
    &-mobile {
        max-width: 370px;
        // width: 100%;
        height: 100%;
        background-color: #ffffff;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        overflow-y: auto;

        &--wrapper {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 111;
            left: 0;
            top: 0;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s linear;
            &.active {
                opacity: 1;
                pointer-events: all;
                .navbar-mobile {
                    transform: translateX(0);
                }
            }
        }
        &--head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $primaryColor;
            padding: 7px 15px;
            img {
                max-width: 90px;
            }
            button {
                font-size: 1em;
                color: #e3e3e3;
                line-height: 1;
                margin-left: 10px;
                i {
                    img {
                        width: 20px;
                    }
                }
            }
        }
        &--body {
            margin-bottom: 15px;
            .nav-item {
                &:not(:last-child) {
                    border-bottom: 1px solid #e3e3e3;
                }
                a {
                    font-size: 14px;
                    color: $primaryColor;
                    padding: 1em 1.25em;
                    position: relative;
                    &:after {
                        position: absolute;
                        margin-left: 0;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        transition: transform 0.3s ease;
                    }
                    &.active {
                        color: $secondaryColor;
                        border-right: 4px solid $secondaryColor;
                    }
                    &:hover {
                        color: $secondaryColor;
                        background-color: #f4f4f4;
                        border-right: 4px solid $secondaryColor;
                    }
                }
            }
            .dropdown {
                position: relative;
                .dropdown-menu {
                    display: block;
                    position: absolute;
                    top: 100%;
                    right: 53%;
                    transform: translateY(10px);
                    opacity: 0;
                    visibility: hidden;
                    pointer-events: none;
                    transition: all 0.3s ease;
                    background-color: $secondaryColor;
                    .dropdown-item {
                        color: $linkColor;
                        li {
                            a {
                                margin: 0;
                            }
                        }
                        &:hover {
                            color: $gray;
                        }
                    }
                }
                &:hover {
                    .dropdown-menu {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                        pointer-events: all;
                    }
                }
            }
        }
        &--info {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            &-item {
                color: #000000;
                padding: 0.7em 0.5em;
                &:not(:last-child) {
                    border-bottom: 1px solid #ffffff;
                }
            }
        }
    }
}

.navbar-expand {
    background-color: $headerBg;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    position: static;
    justify-content: center;
    .navbar-nav {
        .nav-link {
            color: $linkColor;
            transition: color 0.3s linear;
            font-weight: 500;
            .active {
                color: $linkActive;
            }
            &:hover {
                color: $linkHover;
            }
        }
    }
}

@include breakpoint-max(767px) {
    .navbar {
        &.navbar-expand-lg {
            // padding-top: 10px;
            // padding-bottom: 10px;
            .header-content {
                .navbar-itemLogo {
                    .navbar-brand {
                        img {
                            max-width: 98px;
                        }
                    }
                }
            }
        }
        // &-item {
        //   &__action {
        //     li {
        //       &:not(:last-child) {
        //         margin-right: 10px;
        //       }
        //     }
        //   }
        // }
        &-action {
            &__badge {
                top: -3px;
                right: -3px;
                font-size: 0.6em;
                padding: 1px 5px;
            }
        }
        &-search {
            background-color: $primaryColor;
            &-input {
                width: 300px;
                input {
                    padding: 18px 15px;
                    height: 25px;
                    background-color: $primaryColor;
                }
                button {
                    font-size: 18px;
                    transform: translate(-30px, -1px);
                }
            }
            &-result {
                width: 280px;
            }
            &-cancel {
                width: 18px;
            }
        }
        &-notification {
            max-width: 380px;
            &--body {
                font-size: 20px;
                color: $primaryColor;
                // i {
                //   font-size: 30px;
                //   color: $secondaryColor;
                // }
                .nav {
                    &-link {
                        font-size: 14px;
                        color: $grayColor;
                        padding: 0.75em 1em;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                    &-action {
                        top: 40px;
                        // right: 290px;
                        height: 23px;
                        width: 23px;
                    }
                }
                button {
                    padding: 0.23rem;
                    border-radius: 20px;
                    border: 1px solid;
                    font-size: 0.7em;
                    font-weight: 500;
                    min-width: 80px;
                    border: 1px solid $btnHover;
                    background-color: transparent;
                    color: $secondaryColor;
                    margin: 0.25rem 0;
                    transition: 0.3s linear;
                    &:first-child {
                        margin-left: 0.25rem;
                    }
                    &:hover {
                        &:not(.btnActive) {
                            background-color: $btnHover;
                            color: #fff;
                        }
                        i {
                            color: #fff;
                        }
                    }
                    i {
                        color: $secondaryColor;
                    }
                }
            }
        }
    }
}
@include breakpoint-max(575px) {
    .navbar {
        &-brand img {
            vertical-align: 0px;
        }
        &.navbar-expand-lg {
            .header-content {
                .navbar-itemLogo {
                    .navbar-brand {
                        img {
                            max-width: 90px;
                        }
                    }
                }
                .navbar-item {
                    &__action {
                        li {
                            font-size: 16px;
                            // i {
                            //   svg {
                            //     width: 18px;
                            //     height: 18px;
                            //   }
                            // }
                        }
                    }
                    &__badge {
                        top: -2px;
                        right: -2px;
                        padding: 1px 4px;
                    }
                }
            }
        }
        &-item {
            &__action {
                li:not(:last-child) {
                    padding: 6px;
                    margin-right: 0;
                }
            }
        }
        &-action__badge {
            top: -8px;
            right: -8px;
            padding: 1px 5px;
        }
        &-notification {
            &--head {
                h4 {
                    font-size: 18px;
                }
                button {
                    width: 18px;
                }
            }
            &--body {
                p {
                    font-size: 15px;
                }
                i {
                    font-size: 1em;
                }
            }
        }
    }
}
@include breakpoint-max(400px) {
    .navbar {
        &.navbar-expand-lg {
            .header-content {
                .navbar-itemLogo {
                    .navbar-brand {
                        img {
                            max-width: 80px;
                        }
                    }
                }
            }
        }

        &-item {
            &__action {
                li {
                    font-size: 14px;
                    :not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
